doctype html
html(lang="en")
    head
        meta(httpEquiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(rel="shortcut icon", href="/favicon.ico")
        | !{head.title}
        | !{head.meta}
        | !{head.link}
        link(href=PROD ? assets.main.css : '/style.css', rel="stylesheet")
    body
        #app !{html}
        script.
            window.INITIAL_STATE = !{state};
        script(src=PROD ? assets.vendor.js : '/vendor.js')
        script(src=PROD ? assets.main.js : '/main.js')
