doctype html;
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(rel="shortcut icon", href="/favicon.ico")
        | !{head.meta}
        | !{head.title}
        style !{styles}
    body
        noscript
            | If you're seeing this message, that means
            strong JavaScript has been disabled on your browser
            |, please
            strong enable JS
            | to make this app work.
        #app !{html}
        script.
            window.__INITIAL_STATE__ = !{state};
        script(src=assets.vendor.js)
        script(src=assets.main.js)
